body, html {
  height: 100%;
}
*{
  border:1px solid red;
}
.navbar{
  z-index: 1000;
}
/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("_imgs/hero.jpg");

  /* Set a specific height */
  height: 70vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 60px;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.card-body {
  text-align: justify;
}


.grid{
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr  ;
  grid-template-rows: auto auto auto auto  ;
  grid-template-areas: 
  
  "imgcard titlecard "
  "imgcard textcard "
  "imgcard textcard  "
  "rede rede "
  ;
  
  text-align: justify;
}

#sobre-one {grid-area: sobre; }
#img-card-one { grid-area: imgcard; }
#text-card-one { grid-area: textcard; }
#title-card-one { grid-area: titlecard; }
#rede-one { grid-area: rede; }


.text-justify{
  text-align: justify;
}
#text-card-one p{
  padding: 25px;
}
#Sobre img {
  border-radius: 50%;

}
@media (min-width: 300px) and (max-width: 760px) {
  .grid{
    display: block ;
    


  }
  .navbar {


  }



}